@page
@model Cinema.Pages.FilmSessions.BookModel

@{
    ViewData["Title"] = "Забронировать билет";
}

<style>
    .hall {
        display: flex;
        flex-direction: column;
    }
    
    .hall-row {
        display:  flex;
        flex-direction: row;
        margin-top: 8px;
    }
    
    .seat {
        width: 50px;
        height:  50px;
        border:  1px solid var(--bs-body-color);
        margin-left: 8px;
        text-align: center;
        align-content: center;
        cursor:pointer;
    }
    
    .seat-reserved {
        background-color: #6c757d;
        cursor: default;
    }
    
    .seat-bought {
        background-color: #b02a37;
        cursor: default;
    }
</style>

<h1>Забронировать билет</h1>

<h2>Схема зала:</h2>
<div class="hall">
      @for (var row = 1; row < 6; row++)
      {
          <div class="hall-row">
              <div style="margin-right: 16px">Ряд: @row</div>
              @for (var column = 1; column < 13; column++)
              {
                  if (Model.ReservedSeats.Contains($"{row}:{column}"))
                  {
                      <div
                          class="seat seat-reserved">
                          @column
                      </div>
                  }
                  else if (Model.BoughtSeats.Contains($"{row}:{column}"))
                  {
                      <div
                          class="seat seat-bought">
                          @column
                      </div>
                  }
                  else
                  {
                      <a
                          class="seat"
                          href="/FilmSessions/BookConfirm?id=@Model.FilmSession.Id&row=@row&column=@column">
                          @column
                      </a>  
                  }
              }
          </div>
      }
</div>